.header1
{
background-color: black;
color: white;
padding-top: 10px;
padding-left: 50px;
}
.header2
{
background-color: black;
color: white;
}
.Box1
{
    background-color: black;
    
}
.Box1 h1{
    color: white;
}
.Box1 p{
    color: white;
}
.Box2
{
    background-color: black;
}
.b2 h2 {
    font-size: 64px;
}
.gradient-custom {
    /* fallback for old browsers */
    background: grey;
    }
    .footer h3{
        color: white;
    }
